// loader courtesy of w3 schools https://www.w3schools.com/howto/howto_css_loader.asp
.loading{
  height: 100vh;
  width: 100%;
  background-color: $blue;
  justify-content: center;
  align-items: center;
  .loader {
    border: 1.6rem solid $green;
    border-top: 1.6rem solid $copper; 
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.none {
  display: none;
}

.after-loading{
  opacity: 0%;
}

header {
  position: fixed;
  width: 100%;
}

nav {
  width: 100%;
  background-color: $rose;
  .nav-container{
    padding: 1rem;
    justify-content: space-between;
  }
  h1 {
    display: inline;
    font-size: 4rem;
    color: $khaki;
  }
}

main {
  min-height: calc(100vh - 2rem);
  background-image: url(../assets/deanna-j-3GZlhROZIQg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

form {
  font-size: 4rem;
  label{
    font-size: 2rem;
  }
}

.main-image {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-div {
  img {
    width: 50%;
    margin: 20rem auto;
  }
}

.append-to-here{
  width: 100%;
  height: 100%;
  padding-top: 6rem;
}

.image-joke-box{
  height: 80vh;
  width: 70%;
  flex-direction: column;
  justify-content: end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 6rem auto;
  p {
    color: $rose;
    text-align: center;
    background-color: $green;
    width: 85%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
}

// Circular menu courtesy of Simon Gooder https://codepen.io/simgooder/pen/bVLjgM
@mixin circle($param) {
  width: $param;
  height: $param;
  border-radius: 5rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: $green;
}

.menu-toggle {
  @include circle(7rem);
  background-color: $khaki;
  box-shadow: 0.4rem 0.4rem 0.2rem 0.1rem rgba(#000, 0.2);
  position: fixed;
  z-index: 5;
  bottom: 4rem;
  right: 2rem;
  display: table;
  text-align: center;

  .fa {
    color: $rose;
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    transition: 0.4s;
  }

  &.open .fa {
    transform: rotate(135deg);
  }
}

form {
  width: 20%;
  select{
    width: 100%;
    font-family: 'Castoro', serif;
    font-size: 3rem;
    background-color: $green;
    padding-right: 1rem;
    border: none;
    color: $rose;
    text-align: right;
    border-radius: 0.5rem;
  }
}

footer {
  background-color: $rose;
}

.footer-container {
  text-align: center;
  p, a {
    color: $khaki;
    font-size: 2rem;
  }
  a {
    text-decoration: none;
  }
}