h1 {
  font-size: 4rem;
  text-align: center;
}

form {
  font-size: 4rem;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.welcome-div {
  height: 100vh;
}

.imageJokeBox{
  height: 80vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  p {
    font-size: 4rem;
    color: black;
    text-align: center;
    background-color: white;
    width: 40%;
    margin: 0 auto;
  }
}

button {
  font-size: 3rem;
  padding: 1rem;
}

// Found this loader online! but need to use this as inspiration, not final result

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Circular menu courtesy of Simon Gooder https://codepen.io/simgooder/pen/bVLjgM
// @mixin circle($param) {
//   width: $param;
//   height: $param;
//   border-radius: 50px;
// }

// body {
//   position: relative;
// }

// .container {
//   position: fixed;
//   bottom: 1em;
//   right: 1em;
// }

// .menu-toggle {
//   @include circle(7rem);
//   background-color: $yellow;
//   box-shadow: 4px 4px 2px 1px rgba(#000, 0.2);
//   position: absolute;
//   z-index: 5;
//   bottom: 0;
//   right: 0;
//   display: table;
//   text-align: center;

//   .fa {
//     color: $gunmetal;
//     font-size: 2em;
//     display: table-cell;
//     vertical-align: middle;
//     transition: 0.4s;
//   }

//   &.open .fa {
//     transform: rotate(135deg);
//   }
// }

